<p-toolbar styleClass="hidden md:flex mb-4">
  <ng-template #start>
    <p-button
      (click)="newClientClick.emit()"
      icon="pi pi-plus"
      severity="primary"
      [label]="'CLIENT_LIST_TOOLBAR_BUTTON_CREATE_CLIENT' | translate"
    />
  </ng-template>
  <ng-template #center>
    <p-iconfield iconPosition="left">
      <p-inputicon styleClass="pi pi-search" />
      <input
        [ngModel]="search"
        (ngModelChange)="onValueChange($event)"
        pInputText
        type="text"
        class="w-full"
        [placeholder]="'CLIENT_LIST_TOOLBAR_SEARCH_INPUT' | translate"
      />
    </p-iconfield>
  </ng-template>
  <ng-template #end>
    @if (view() === 'table') {
      <p-button
        (click)="view.set('card')"
        icon="pi pi-id-card"
        outlined
        severity="contrast"
        [label]="'CLIENT_LIST_TOOLBAR_BUTTON_CARD_VIEW' | translate"
      />
    }

    @if (view() === 'card') {
      <p-button
        (click)="view.set('table')"
        icon="pi pi-table"
        outlined
        severity="contrast"
        [label]="'CLIENT_LIST_TOOLBAR_BUTTON_TABLE_VIEW' | translate"
      />
    }
  </ng-template>
</p-toolbar>

<p-toolbar styleClass="flex md:hidden mb-4">
  <p-iconfield iconPosition="left" styleClass="w-full mb-2">
    <p-inputicon styleClass="pi pi-search" />
    <input
      [ngModel]="search"
      (ngModelChange)="onValueChange($event)"
      pInputText
      type="text"
      class="w-full"
      [placeholder]="'CLIENT_LIST_TOOLBAR_SEARCH_INPUT' | translate"
    />
  </p-iconfield>

  <p-button
    (click)="newClientClick.emit()"
    icon="pi pi-plus"
    severity="primary"
    [label]="'CLIENT_LIST_TOOLBAR_BUTTON_CREATE_CLIENT' | translate"
  />
  @if (view() === 'table') {
    <p-button
      (click)="view.set('card')"
      icon="pi pi-id-card"
      outlined
      severity="contrast"
      [label]="'CLIENT_LIST_TOOLBAR_BUTTON_CARD_VIEW' | translate"
    />
  }

  @if (view() === 'card') {
    <p-button
      (click)="view.set('table')"
      icon="pi pi-table"
      outlined
      severity="contrast"
      [label]="'CLIENT_LIST_TOOLBAR_BUTTON_TABLE_VIEW' | translate"
    />
  }
</p-toolbar>

@if (search$ | async) {}
