<form [formGroup]="form" (ngSubmit)="onSave()">
  <p-fieldset styleClass="mb-8" [legend]="'CLIENT_FORM_PERSONAL_INFORMATION' | translate">
    <section class="py-2 pt-6 grid grid-cols-1 lg:grid-cols-3 gap-4">
      <p-iftalabel>
        <input
          pInputText
          [fluid]="true"
          pSize="large"
          id="name"
          formControlName="name"
          autocomplete="off"
        />
        <label for="name" i18n>Name</label>
        <div class="h-6 mt-1">
          @if (form.get('name')?.hasError('required') && form.get('name')?.touched) {
            <p-message severity="error" variant="simple" size="small">
              <span i18n>The name is required</span>
            </p-message>
          }
          @if (form.get('name')?.hasError('minlength') && form.get('name')?.touched) {
            <p-message severity="error" variant="simple" size="small">
              <span i18n>The name must contain at least 3 characters</span>
            </p-message>
          }
          @if (form.get('name')?.hasError('maxlength') && form.get('name')?.touched) {
            <p-message severity="error" variant="simple" size="small">
              <span i18n>The name must contain a maximum of 255 characters</span>
            </p-message>
          }
          @if (form.get('name')?.hasError('pattern') && form.get('name')?.touched) {
            <p-message severity="error" variant="simple" size="small">
              <span i18n>The name must have a valid value. Ex: Fulano da Silva</span>
            </p-message>
          }
        </div>
      </p-iftalabel>
      <p-iftalabel>
        <input
          pInputText
          [fluid]="true"
          pSize="large"
          id="email"
          autocomplete="off"
          formControlName="email"
          appIsEmailTaken
          [idClient]="this.initialValue()?.id"
        />
        <label for="email">E-mail</label>
        <div class="h-6 mt-1">
          @if (form.get('email')?.hasError('required') && form.get('email')?.touched) {
            <p-message severity="error" variant="simple" size="small">
              <span i18n>The e-mail is required</span>
            </p-message>
          }
          @if (form.get('email')?.hasError('pattern') && form.get('email')?.touched) {
            <p-message severity="error" variant="simple" size="small">
              <span i18n>The e-mail must have a valid value. Ex: email&#64;email.com</span>
            </p-message>
          }
          @if (form.get('email')?.hasError('emailTaken') && form.get('email')?.touched) {
            <p-message severity="error" variant="simple" size="small">
              <span i18n>The e-mail is already taken.</span>
            </p-message>
          }
        </div>
      </p-iftalabel>
      <p-iftalabel>
        <p-inputmask
          size="large"
          styleClass="w-full"
          mask="99 99999-9999"
          placeholder="99 99999-9999"
          id="phone"
          formControlName="phone"
          autocomplete="off"
        />
        <label for="phone" i18n>Phone</label>
        <div class="h-6 mt-1">
          @if (form.get('phone')?.hasError('required') && form.get('phone')?.touched) {
            <p-message severity="error" variant="simple" size="small">
              <span i18n>The phone is required</span>
            </p-message>
          }
          @if (form.get('phone')?.hasError('pattern') && form.get('phone')?.touched) {
            <p-message severity="error" variant="simple" size="small">
              <span i18n>The phone must have a valid value</span> Ex: 99 99999-9999
            </p-message>
          }
        </div>
      </p-iftalabel>
    </section>
  </p-fieldset>
  <p-fieldset styleClass="mb-8" [legend]="'CLIENT_FORM_ADDRESS_INFORMATION' | translate">
    <section formGroupName="address" class="py-2 pt-6">
      @let addressGroup = form.get('address');
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 pb-4">
        <p-iftalabel>
          <p-inputmask
            size="large"
            styleClass="w-full"
            mask="99999-999"
            placeholder="99999-999"
            id="zipCode"
            formControlName="zipCode"
            appZipCodeValidator
            autocomplete="off"
          />
          <label for="zipCode" i18n>Zip Code</label>
          <div class="h-6 mt-1 mt-1">
            @if (
              addressGroup?.get('zipCode')?.hasError('required') &&
              addressGroup?.get('zipCode')?.touched
            ) {
              <p-message class="mt-2" severity="error" variant="simple" size="small">
                <span i18n>The zip code is required</span>
              </p-message>
            }
            @if (
              addressGroup?.get('zipCode')?.hasError('pattern') &&
              addressGroup?.get('zipCode')?.touched
            ) {
              <p-message severity="error" variant="simple" size="small">
                <span i18n>The zip code must be a valid value. Ex: 99999-999</span>
              </p-message>
            }
            @if (addressGroup?.get('zipCode')?.hasError('zipCodeApiError')) {
              <p-message severity="error" variant="simple" size="small">
                <span i18n>Invalid zip code. Try again.</span>
              </p-message>
            }
          </div>
        </p-iftalabel>
        <p-iftalabel>
          <input
            pInputText
            class="w-full"
            pSize="large"
            id="state"
            formControlName="state"
            autocomplete="off"
          />
          <label for="state" i18n>State</label>
          <div class="h-6 mt-1">
            @if (
              addressGroup?.get('state')?.hasError('required') &&
              addressGroup?.get('state')?.touched
            ) {
              <p-message severity="error" variant="simple" size="small">
                <span i18n>The state is required</span>
              </p-message>
            }
            @if (
              addressGroup?.get('state')?.hasError('minlength') &&
              addressGroup?.get('state')?.touched
            ) {
              <p-message severity="error" variant="simple" size="small">
                <span i18n>The state must contain at least 2 characters</span>
              </p-message>
            }
            @if (
              addressGroup?.get('state')?.hasError('maxlength') &&
              addressGroup?.get('state')?.touched
            ) {
              <p-message severity="error" variant="simple" size="small">
                <span i18n>The state must contain a maximum of 2 characters</span>
              </p-message>
            }
          </div>
        </p-iftalabel>
        <p-iftalabel>
          <input
            pInputText
            class="w-full"
            pSize="large"
            id="city"
            formControlName="city"
            autocomplete="off"
          />
          <label for="city" i18n>City</label>
          <div class="h-6 mt-1">
            @if (
              addressGroup?.get('city')?.hasError('required') && addressGroup?.get('city')?.touched
            ) {
              <p-message severity="error" variant="simple" size="small">
                <span i18n>The city is required</span>
              </p-message>
            }
            @if (
              addressGroup?.get('city')?.hasError('minlength') && addressGroup?.get('city')?.touched
            ) {
              <p-message severity="error" variant="simple" size="small">
                <span i18n>The city must contain at least 3 characters</span>
              </p-message>
            }
            @if (
              addressGroup?.get('city')?.hasError('maxlength') && addressGroup?.get('city')?.touched
            ) {
              <p-message severity="error" variant="simple" size="small">
                <span i18n>The city must contain a maximum of 255 characters</span>
              </p-message>
            }
            @if (
              addressGroup?.get('city')?.hasError('pattern') && addressGroup?.get('city')?.touched
            ) {
              <p-message severity="error" variant="simple" size="small">
                <span i18n>The city must have a valid value. Ex: Rio de Janeiro</span>
              </p-message>
            }
          </div>
        </p-iftalabel>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-[minmax(200px,_1fr)_150px] gap-4">
        <p-iftalabel>
          <input
            pInputText
            class="w-full"
            pSize="large"
            id="street"
            formControlName="street"
            autocomplete="off"
          />
          <label for="street" i18n>Street</label>
          <div class="h-6 mt-1">
            @if (
              addressGroup?.get('street')?.hasError('required') &&
              addressGroup?.get('street')?.touched
            ) {
              <p-message severity="error" variant="simple" size="small">
                <span i18n>The street is required</span>
              </p-message>
            }
            @if (
              addressGroup?.get('street')?.hasError('minlength') &&
              addressGroup?.get('street')?.touched
            ) {
              <p-message severity="error" variant="simple" size="small">
                <span i18n>The street must contain at least 3 characters</span>
              </p-message>
            }
            @if (
              addressGroup?.get('street')?.hasError('maxlength') &&
              addressGroup?.get('street')?.touched
            ) {
              <p-message severity="error" variant="simple" size="small">
                <span i18n>The street must contain a maximum of 255 characters</span>
              </p-message>
            }
            @if (
              addressGroup?.get('street')?.hasError('pattern') &&
              addressGroup?.get('street')?.touched
            ) {
              <p-message severity="error" variant="simple" size="small">
                <span i18n>The street must have a valid value</span> Ex: Avenida Presidente Vargas
              </p-message>
            }
          </div>
        </p-iftalabel>
        <p-iftalabel>
          <input
            pInputText
            class="w-full"
            pSize="large"
            id="number"
            formControlName="number"
            autocomplete="off"
          />
          <label for="number" i18n>Number</label>
          <div class="h-6 mt-1">
            @if (
              addressGroup?.get('number')?.hasError('required') &&
              addressGroup?.get('number')?.touched
            ) {
              <p-message severity="error" variant="simple" size="small">
                <span i18n>The number is required</span>
              </p-message>
            }
            @if (
              addressGroup?.get('number')?.hasError('min') && addressGroup?.get('number')?.touched
            ) {
              <p-message severity="error" variant="simple" size="small">
                <span i18n>Min 1</span>
              </p-message>
            }
            @if (
              addressGroup?.get('number')?.hasError('max') && addressGroup?.get('number')?.touched
            ) {
              <p-message severity="error" variant="simple" size="small">
                <span i18n>10000 max</span>
              </p-message>
            }
            @if (
              addressGroup?.get('number')?.hasError('pattern') &&
              addressGroup?.get('number')?.touched
            ) {
              <p-message severity="error" variant="simple" size="small">
                <span i18n>Number only</span>
              </p-message>
            }
          </div>
        </p-iftalabel>
      </div>
    </section>
  </p-fieldset>
  <div class="flex justify-end">
    <p-button
      [disabled]="form.invalid"
      type="submit"
      [label]="'CLIENT_FORM_BUTTON_SUBMIT' | translate"
      [loading]="isLoading()"
      severity="success"
    />
  </div>
</form>
