<h1 class="text-3xl font-bold mb-4" i18n>Clients</h1>
<app-client-toolbar
  (searchChange)="onSearchValueChange($event)"
  (newClientClick)="goToNewClientPage()"
  [(view)]="view"
/>
@if (isLoading()) {
  <div class="w-full h-full flex flex-col justify-center items-center">
    <p-progress-spinner
      strokeWidth="8"
      fill="transparent"
      animationDuration=".5s"
      [style]="{ width: '50px', height: '50px' }"
    />
  </div>
} @else {
  @if (view() === 'card') {
    <app-client-card-list
      [clients]="clients()!"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
    />
  }

  @if (view() === 'table') {
    <app-client-table [clients]="clients()!" (edit)="onEdit($event)" (delete)="onDelete($event)" />
  }
}
