@if (clients().length === 0) {
  <h3>No data...</h3>
} @else {
  <div class="w-full h-[83%] pb-1 lg:pr-2 overflow-auto">
    <p-table
      stripedRows
      [value]="clients()"
      [tableStyle]="{ 'min-width': '25rem' }"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <ng-template #header>
        <tr>
          <th i18n>Name</th>
          <th i18n>E-mail</th>
          <th i18n>Phone</th>
          <th i18n>Action</th>
        </tr>
      </ng-template>
      <ng-template #body let-client>
        <tr>
          <td>{{ client.name }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.phone }}</td>
          <td>
            <div class="flex gap-4 mt-1">
              <p-button
                [outlined]="true"
                [label]="'CLIENT_LIST_ACTION_EDIT' | translate"
                severity="contrast"
                class="w-full"
                styleClass="w-full"
                (onClick)="onEdit(client.id)"
              />
              <p-button
                [outlined]="true"
                [label]="'CLIENT_LIST_ACTION_DELETE' | translate"
                severity="danger"
                class="w-full"
                styleClass="w-full"
                (onClick)="onDelete(client.id)"
              />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
}
